<!DOCTYPE html>
<html>

<head>
    <title>l</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../dist/main.css" type="text/css">
</head>

<body>
    <p class="h2 my-4 container">{{ title }}</p>
 {% block body %}{% endblock %}
 <script src="../../../dist/main.js"></script>
 </body>

 </html> 